<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header"></head>
<body>

<div id='login'>
	<h1>Hello</h1>
	<div>
	    <img th:src="@{/static/photo.jpg}" alt="Profile Image" />
			<form method='post' action='/login'>
			
				<input type="text" name='email'
					placeholder="Email" required="required" autofocus="autofocus" /> 
				<input type="password" name='password'
					placeholder="Password" required="required" />
				<button type="submit">
					Sign in</button>

			</form>
		</div>
       
</div>

</body>
<footer th:replace="template :: footer"></footer>
</html>
